:root
{
    --background-color: #222;
    --accent-color: #0066ff;
}

*, *::before, *::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body
{
    background: var(--background-color);
}

.text-field
{
    outline: none;
    padding: 3px 5px;
    width: 50%;
    border: none;
    background: none;
    border-bottom: 2px solid #555;
    color: white;
    font-size: 2.4vmin;
    background: #444;
    transition: 200ms;
}

.text-field:focus
{
    border-color: var(--accent-color);
    background: #0066ff33;
}

.checkbox
{
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #444;
    outline: none;
}

.checkbox:active, .checkbox:checked:active {
	background-color: #555;
}

.checkbox:checked
{
    background: var(--accent-color);
}

.checkbox:checked::after
{
    content: '\2714';
	font-size: 13px;
	position: absolute;
	top: -1px;
	left: 3px;
	color: white;
    font-weight: lighter;
}

.button
{
    padding: 10px 20px;
    color: white;
    border: 2px solid var(--accent-color);
    outline: none;
    background: none;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: 200ms;
    margin-bottom: 20px;
}

.button:focus, .button:hover
{
    background: var(--accent-color);
}

/* Navbar */
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #0066ff;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }